<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <variable name="logdir" value="${basedir}\Logs"/>

    <targets>
        <default-target-parameters xsi:type="File" autoFlush="false" keepFileOpen="true"
                                   layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=ToString}"/>
        <target name="workLog" xsi:type="File"
                fileName="${logdir}\log_${shortdate}.log" />
        <!--<target name="SoapXmlDump" xsi:type="File"
              fileName="${logdir}\dump\dump_${shortdate}.log" />-->
        <target name="SimpleHttpDump" xsi:type="File"
                fileName="${logdir}\dump\dump_${shortdate}.log" />
        <target name="errorLog" xsi:type="File"
                fileName="${logdir}\error\error_${shortdate}.log" autoFlush="true" keepFileOpen="true" />
    </targets>

    <rules>   
        <logger minlevel="Trace"
                writeTo="workLog">
            <logger
                minlevel="Error"
                writeTo="errorLog">
            </logger>
        </logger>
    </rules>
</nlog>